<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile - NodeHBS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <h4 class="navbar-brand mb-0 me-3">Node Mysql</h4>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link me-3" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-4">
      
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>